In [29]:
from kerykeion import AstrologicalSubject
from datetime import datetime
from zoneinfo import ZoneInfo
from typing import Tuple

In [38]:
# Major cities in specified states with lat/lng
CITY_COORDINATES = {
    # Tamil Nadu
    "Chennai": (13.0827, 80.2707),
    "Coimbatore": (11.0168, 76.9558),
    "Madurai": (9.9252, 78.1198),
    "Tiruchirappalli": (10.7905, 78.7047),
    "Salem": (11.6643, 78.1460),

    # Kerala
    "Thiruvananthapuram": (8.5241, 76.9366),
    "Kochi": (9.9312, 76.2673),
    "Kozhikode": (11.2588, 75.7804),
    "Thrissur": (10.5276, 76.2144),
    "Alappuzha": (9.4981, 76.3388),

    # Andhra Pradesh
    "Visakhapatnam": (17.6868, 83.2185),
    "Vijayawada": (16.5062, 80.6480),
    "Guntur": (16.3067, 80.4365),
    "Tirupati": (13.6288, 79.4192),
    "Kurnool": (15.8281, 78.0373),

    # Karnataka
    "Bengaluru": (12.9716, 77.5946),
    "Mysuru": (12.2958, 76.6394),
    "Mangalore": (12.9141, 74.8560),
    "Hubli": (15.3647, 75.1236),
    "Belgaum": (15.8497, 74.4977),

    # Telangana
    "Hyderabad": (17.3850, 78.4867),
    "Warangal": (17.9787, 79.5941),
    "Nizamabad": (18.6720, 78.0940),
    "Karimnagar": (18.4386, 79.1288),
    "Khammam": (17.2473, 80.1434),

    # Maharashtra
    "Mumbai": (19.0760, 72.8777),
    "Pune": (18.5204, 73.8567),
    "Nagpur": (21.1458, 79.0882),
    "Nashik": (19.9975, 73.7898),
    "Aurangabad": (19.8762, 75.3433),

    # Delhi
    "Delhi": (28.6139, 77.2090),
    "New Delhi": (28.6139, 77.2090),

    # West Bengal
    "Kolkata": (22.5726, 88.3639),
    "Durgapur": (23.5204, 87.3119),
    "Siliguri": (26.7271, 88.3953),
    "Howrah": (22.5958, 88.2636),
    "Asansol": (23.6850, 86.9514),
}

In [39]:
birth_date = datetime(1950, 12, 12, 9, 45, tzinfo=ZoneInfo("Asia/Kolkata"))

def get_lat_lng(city: str) -> Tuple[float, float]:
    """
    Returns latitude and longitude for the given city.
    Raises ValueError if city not found.
    """
    if city in CITY_COORDINATES:
        return CITY_COORDINATES[city]
    else:
        raise ValueError(f"Coordinates for city '{city}' not found. Please add it to CITY_COORDINATES.")

city = "Bengaluru"
lat, lng = get_lat_lng(city)

name = "Rajinikanth"

In [40]:
subject =  AstrologicalSubject(
    name=name, 
    year=birth_date.year, 
    month=birth_date.month, 
    day=birth_date.day, 
    hour=birth_date.hour, 
    minute=birth_date.minute, 
    city=city, 
    nation="IN", 
    lat=lat, 
    lng=lng,
    tz_str=birth_date.tzinfo.key,
    online=False,
    houses_system_identifier="W",
    zodiac_type="Sidereal",
    sidereal_mode="LAHIRI",   # Zodiac type should be Sidereal, sidereal mode also known as Ayanamsa
)

In [41]:
import pandas as pd

# Collect planet data
planets = [
    subject.ascendant,
    subject.sun,
    subject.moon,
    subject.mercury,
    subject.venus,
    subject.mars,
    subject.jupiter,
    subject.saturn,
    subject.true_node,
    subject.true_south_node
]

# Create DataFrame using model_dump()
df = pd.DataFrame([{
    "Planet": (
        "Rahu" if p is subject.true_node else
        "Ketu" if p is subject.true_south_node else
        p.model_dump()["name"]
    ),
    "Sign": p.model_dump()["sign"],
    "Quality": p.model_dump()["quality"],
    "Element": p.model_dump()["element"],
    "House": p.model_dump()["house"],
    "Retrograde": "Yes" if p.model_dump()["retrograde"] else "No",
    "° Position": round(p.model_dump()["position"], 2),
    "Abs °": round(p.model_dump()["abs_pos"], 2),
    "Emoji": p.model_dump()["emoji"]
} for p in planets])

df

,Planet,Sign,Quality,Element,House,Retrograde,° Position,Abs °,Emoji
0,Ascendant,Cap,Cardinal,Earth,First_House,No,11.55,281.55,♑️
1,Sun,Sco,Fixed,Water,Eleventh_House,No,26.40,236.40,♏️
2,Moon,Cap,Cardinal,Earth,First_House,No,5.43,275.43,♑️
3,Mercury,Sag,Mutable,Fire,Twelfth_House,No,16.39,256.39,♐️
4,Venus,Sag,Mutable,Fire,Twelfth_House,No,3.28,243.28,♐️
5,Mars,Cap,Cardinal,Earth,First_House,No,4.33,274.33,♑️
6,Jupiter,Aqu,Fixed,Air,Second_House,No,8.21,308.21,♒️
7,Saturn,Vir,Mutable,Earth,Ninth_House,No,8.34,158.34,♍️
8,Rahu,Pis,Mutable,Water,Third_House,Yes,0.82,330.82,♓️
9,Ketu,Vir,Mutable,Earth,Ninth_House,Yes,0.82,150.82,♍️