In [25]:
from kerykeion import AstrologicalSubject, KerykeionChartSVG, Report
from datetime import datetime
from zoneinfo import ZoneInfo
from typing import Tuple

In [4]:
# Major cities in specified states with lat/lng
CITY_COORDINATES = {
    # Tamil Nadu
    "Chennai": (13.0827, 80.2707),
    "Coimbatore": (11.0168, 76.9558),
    "Madurai": (9.9252, 78.1198),
    "Tiruchirappalli": (10.7905, 78.7047),
    "Salem": (11.6643, 78.1460),

    # Kerala
    "Thiruvananthapuram": (8.5241, 76.9366),
    "Kochi": (9.9312, 76.2673),
    "Kozhikode": (11.2588, 75.7804),
    "Thrissur": (10.5276, 76.2144),
    "Alappuzha": (9.4981, 76.3388),

    # Andhra Pradesh
    "Visakhapatnam": (17.6868, 83.2185),
    "Vijayawada": (16.5062, 80.6480),
    "Guntur": (16.3067, 80.4365),
    "Tirupati": (13.6288, 79.4192),
    "Kurnool": (15.8281, 78.0373),

    # Karnataka
    "Bengaluru": (12.9716, 77.5946),
    "Mysuru": (12.2958, 76.6394),
    "Mangalore": (12.9141, 74.8560),
    "Hubli": (15.3647, 75.1236),
    "Belgaum": (15.8497, 74.4977),

    # Telangana
    "Hyderabad": (17.3850, 78.4867),
    "Warangal": (17.9787, 79.5941),
    "Nizamabad": (18.6720, 78.0940),
    "Karimnagar": (18.4386, 79.1288),
    "Khammam": (17.2473, 80.1434),

    # Maharashtra
    "Mumbai": (19.0760, 72.8777),
    "Pune": (18.5204, 73.8567),
    "Nagpur": (21.1458, 79.0882),
    "Nashik": (19.9975, 73.7898),
    "Aurangabad": (19.8762, 75.3433),

    # Delhi
    "Delhi": (28.6139, 77.2090),
    "New Delhi": (28.6139, 77.2090),

    # West Bengal
    "Kolkata": (22.5726, 88.3639),
    "Durgapur": (23.5204, 87.3119),
    "Siliguri": (26.7271, 88.3953),
    "Howrah": (22.5958, 88.2636),
    "Asansol": (23.6850, 86.9514),
}

In [27]:
birth_date = datetime(2003, 8, 19, 11, 55, tzinfo=ZoneInfo("Asia/Kolkata"))

def get_lat_lng(city: str) -> Tuple[float, float]:
    """
    Returns latitude and longitude for the given city.
    Raises ValueError if city not found.
    """
    if city in CITY_COORDINATES:
        return CITY_COORDINATES[city]
    else:
        raise ValueError(f"Coordinates for city '{city}' not found. Please add it to CITY_COORDINATES.")

city = "Chennai"
lat, lng = get_lat_lng(city)

name = "Rajinikanth"

In [28]:
subject =  AstrologicalSubject(
    name=name, 
    year=birth_date.year, 
    month=birth_date.month, 
    day=birth_date.day, 
    hour=birth_date.hour, 
    minute=birth_date.minute, 
    city=city, 
    nation="IN", 
    lat=lat, 
    lng=lng,
    tz_str=birth_date.tzinfo.key,
    online=False,
    houses_system_identifier="W",
    zodiac_type="Sidereal",
    sidereal_mode="LAHIRI",   # Zodiac type should be Sidereal, sidereal mode also known as Ayanamsa
)

In [29]:
report = Report(subject)
report.print_report()

+- Kerykeion report for Rajinikanth -+
+-----------+-------+-------------+-----------+----------+
| Date      | Time  | Location    | Longitude | Latitude |
+-----------+-------+-------------+-----------+----------+
| 19/8/2003 | 11:55 | Chennai, IN | 80.2707   | 13.0827  |
+-----------+-------+-------------+-----------+----------+
+-----------------+------+-------+------+----------------+
| Planet          | Sign | Pos.  | Ret. | House          |
+-----------------+------+-------+------+----------------+
| Sun             | Leo  | 1.97  | -    | Eleventh_House |
| Moon            | Ari  | 23.67 | -    | Seventh_House  |
| Mercury         | Leo  | 28.81 | -    | Eleventh_House |
| Venus           | Leo  | 2.12  | -    | Eleventh_House |
| Mars            | Aqu  | 13.55 | R    | Fifth_House    |
| Jupiter         | Leo  | 4.32  | -    | Eleventh_House |
| Saturn          | Gem  | 15.48 | -    | Ninth_House    |
| Uranus          | Aqu  | 7.14  | R    | Fifth_House    |
| Neptune         | Cap  | 17.49 | R    | Fourth_House   |
| Pluto           | Sco  | 23.36 | R    | Second_House   |
| Mean_Node       | Tau  | 0.93  | R    | Eighth_House   |
| True_Node       | Tau  | 0.91  | R    | Eighth_House   |
| Mean_South_Node | Sco  | 0.93  | R    | Second_House   |
| True_South_Node | Sco  | 0.91  | R    | Second_House   |
| Chiron          | Sag  | 19.04 | R    | Third_House    |
| Mean_Lilith     | Ari  | 27.16 | -    | Seventh_House  |
| Ascendant       | Lib  | 27.85 | -    | First_House    |
| Descendant      | Ari  | 27.85 | -    | Seventh_House  |
| Medium_Coeli    | Can  | 27.43 | -    | Tenth_House    |
| Imum_Coeli      | Cap  | 27.43 | -    | Fourth_House   |
+-----------------+------+-------+------+----------------+
+----------------+------+----------+
| House          | Sign | Position |
+----------------+------+----------+
| First_House    | Lib  | 0.0      |
| Second_House   | Sco  | 0.0      |
| Third_House    | Sag  | 0.0      |
| Fourth_House   | Cap  | 0.0      |
| Fifth_House    | Aqu  | 0.0      |
| Sixth_House    | Pis  | 0.0      |
| Seventh_House  | Ari  | 0.0      |
| Eighth_House   | Tau  | 0.0      |
| Ninth_House    | Gem  | 0.0      |
| Tenth_House    | Can  | 0.0      |
| Eleventh_House | Leo  | 0.0      |
| Twelfth_House  | Vir  | 0.0      |
+----------------+------+----------+

In [23]:
subject_chart = KerykeionChartSVG(subject, new_output_directory="./")

In [24]:
subject_chart.makeSVG()

SVG Generated Correctly in: Rajinikanth - Natal Chart.svg